.box {
  border: 0.1px solid #000;
  padding: 10px;
  border-radius: 5px;
  margin: 10px 10px 10px 0px;
  width: 220px;
}

.todo-title {
  font-size: 24px;
  font-weight: 100;
  font-family: "Caprasimo", cursive;
  margin-bottom: 10px;
}

.todo-description {
  font-weight: 100;
  margin-bottom: 10px;
}

.todo-status {
  font-weight: 100;
  font-size: 18px;
  font-family: "Caprasimo", cursive;
  color: #080;
}
